<div class="card w-50 ">
  <h1><strong>Confirmación de compra</strong></h1>
  <div>
    <div>
      <p><strong>Producto: </strong><%= @product.name %></p>
      <p><strong>Artista: </strong><%= @product.artist %></p>
      <p><strong>Categoría: </strong><%= @product.category %></p>
      <p><strong>Precio $: </strong>  <%= @product.price %></p>
    </div>
    <%= simple_form_for [@product, @purchase] do |f| %>
      <%# No se pasan por params el product_id que viene del URL %>
      <%#= f.hidden_field :product_id, value: @product.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit "Comprar!", class: "btn-primary" %>
    <% end %>
  </div>
  <div>
    <%= link_to "Volver a la lista de vinilos", products_path %>
  </div>
</div>
