<div class="navbar navbar-expand-sm navbar-light navbar-vinilovibes">
  <div class="container-fluid">
    <%= link_to root_path do %>
      <%= image_tag "VINILOVIBESLOGO.png", alt: "alttext", class: "logo" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <p class="welcome btn btn-outline-dark"> Bienvenid@ <%= current_user.email %> </p>
            <li class="nav-item">
          <%= link_to "Home", products_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%# <%= link_to "Mis ventas", my_sales_path, class: "dropdown-item" %>
              <%# <%= link_to "Mis compras", my_purchases_path, class: "dropdown-item" %>
              <%= link_to "Mi perfil", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>

            </div>
          </li>
        <% else %>
          <li class="nav-item btn btn-outline-primary">
            <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item btn btn-warning">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
