<div class="carousel-wrapper mb-5">
  <div id="carouselExampleCaptions" class="carousel slide h-100" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner h-100">
      <div class="carousel-item drk h-100 active">
        <%= image_tag "index/ledzep.jpg", class: "d-block w-100 object-fit-fill   h-100" %>
        <div class="carousel-caption d-none d-md-block">
          <h3 class="fw-bold">Vive el Rock</h3>
          <p>Descubre nuestra selección de vinilos de rock y revive los grandes clásicos.</p>
        </div>
      </div>
      <div class="carousel-item drk h-100">
        <%= image_tag "index/scream.jpg", class: "d-block w-100 object-fit-fill  h-100" %>
        <div class="carousel-caption d-none d-md-block">
          <h3 class="fw-bold">La mejor época Pop</h3>
          <p>Explora los vinilos de pop más recientes y las canciones que siempre te encantan</p>
        </div>
      </div>
      <div class="carousel-item drk h-100 ">
        <%= image_tag "index/coltrane.jpg", class: "d-block w-100 object-fit-fill  h-100" %>
        <div class="carousel-caption d-none d-md-block">
          <h3 class="fw-bold">Jazz vibes en Vinilo Vibes</h3>
          <p>Sumérgete en los vinilos de jazz y disfruta de los sonidos más sofisticados.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<h3 class="mt-3 fw-bold">Explora nuestras categorías</h3>

<div class="cards">

  <%= link_to products_path(:query => "rock"), class:"link-dark category-link" do%>
    <div class="card-category category-hover" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("index/rock.jpg") %>')">
      Rock
    </div>
  <% end %>

  <%= link_to products_path(:query => "pop"), class:"link-dark category-link" do%>
    <div class="card-category category-hover" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("index/pop-singer.jpg") %>')">
      Pop
    </div>
  <% end %>

  <%= link_to products_path(:query => "jazz"), class:"link-dark category-link" do%>
    <div class="card-category category-hover" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("index/jazz.jpg") %>')">
      Jazz
    </div>
  <% end %>

  <%= link_to products_path(:query => "funk"), class:"link-dark category-link" do%>
  <div class="card-category category-hover" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("index/funk.jpeg") %>')">
    Funk
  </div>
  <% end %>


  <%= link_to products_path(:query => "electro"), class:"link-dark category-link" do%>
   <div class="card-category category-hover" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("index/electro.jpg") %>')">
    Electro
  </div>
  <% end %>


  <%= link_to products_path(:query => "reggae"), class:"link-dark category-link" do%>
   <div class="card-category category-hover" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("index/reggae.jpg") %>')">
    Reggae
  </div>
    <% end %>

</div>

<div class="container d-flex justify-content-between align-items-center mt-3 mb-3">
  <h3 class="mt-3 fw-bold">Vinilos en venta</h3>
  <div class="justify-content-center">

    <%= form_with url: products_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Busca un vinilo"
          %>
        <%= submit_tag "Buscar", name: "", class: "btn btn-success" %>
      <% end %>
</div>

  <% if user_signed_in?%>
  <%= link_to "Agregar un nuevo vinilo", new_product_path, class:"btn btn-success p-2 m-2" %>
  <% end%>
</div>
<div class="bg-image p-4">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @products.each do |product| %>
          <div class="col">
                  <%= link_to product, class:"link-dark" do %>
            <div class="card index-card h-100 shadow">
              <%= cl_image_tag product.photo.key, class:"p-2", height: 300, width: 400, crop: :fill %>
                <div class="card-body">
                    <h5 class="card-title link-dark"><%= product.name %></h5>
                  <% end %>
                  <p class="card-text">Artista: <%=product.artist %> <br>
                                      Categoría: <%= product.category %>
                  </p>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                  <small class="text-muted">Precio: <br> $ <%= product.price %> </small>
                  <% if @user %>
                   <% unless @user.id == product.user_id %>
                    <span> Agrégalo a tu colección <br> de <%= product.category %>!</span>
                    <%= link_to "Comprar", new_product_purchase_path(:user_id => @user, :product_id => product.id ), class: "btn btn-dark"%>
                    <% end %>
                  <% end %>
                </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
