<div class = "container mt-5" style="max-width: 70%;">
  <h1>Mis Productos</h1>
  <p><strong>Usuario: </strong><%= current_user.email %></p>
</div>

<div  class = "container mt-5 text-justify product-background" style="max-width: 70%;">

  <% @myproducts.each do |prod| %>
    <div class="card w-20 mb-4 d-flex flex-row d-flex justify-content-between" style="border-radius: 15px; padding: 20px">
      <div>
        <h3><strong><%= prod.name %></strong></h3>
        <p><strong>Artista</strong>: <%= prod.artist %></p>
        <p><strong>Categoría</strong>: <%= prod.category %></p>
        <p><strong>Precio ($)</strong>:<strong> <%= prod.price %></strong></p>
        <div>
          <% if prod.sold %>
            <div class="card" style="width: 19rem;">
              <div class="card-header" style="background-color: #68C44A; color: #333;">
                <strong>VENDIDO</strong>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Fecha de venta: <%= prod.updated_at.in_time_zone('America/Lima').strftime("%d/%m/%Y %H:%M") %></li>
              </ul>
            </div>
          <% else %>
          <div class="card" style="width: 19rem;">
            <div class="card-header" style="background-color: #CED563; color: #333;">
              <strong>PUBLICADO</strong>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Fecha de publicación: <%= prod.created_at.in_time_zone('America/Lima').strftime("%d/%m/%Y %H:%M") %></li>
            </ul>
          </div>
          <% end %>
        </div>
      </div>

      <div class="mt-3">
        <div>
            <% if prod.photo.key.present? %>
              <%= cl_image_tag prod.photo.key, height: 300, width: 400, crop: :fill, class: "product-photo"  %>
            <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
